#entrance {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

#error_row {
    margin-top: -15px;
}

.invalid-feedback {
    padding-left: 10px;
}

#button_container {
    display: flex;
    align-items: center;
}

